__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
pip-wheel-metadata/
*.dist-info/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.cache/
report.html
playwright/.cache/
playwright-report/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints
.python-version
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
ehthumbs.db
test/assets/style.css
assets/style.css
